<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
    <add key="StorageConnectionString_Live" value="DefaultEndpointsProtocol=https;AccountName=repositoryspike;AccountKey=U4kcRE5c1c2qm0YTMVoGdMoZiwSnzCK47hMVIvAIGr2eBDHW14nf+yHf7HxGqglW7qJJRMc5DDOEm/eZAlPMKw==" />
    <add key="StorageConnectionString" value="UseDevelopmentStorage=true" />
  </appSettings>
</configuration>